@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main_box{
  position: relative;
  background: linear-gradient(to top, rgba(211, 208, 208, 0.5)20%,rgba(211, 208, 208, 0.5)20%),url(bgnaiho.png) right no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main_box .sidebar_menu{
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
  color: #333;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.sidebar_menu .menu i{
  color: #333;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: #333;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 3px;
  color: #000;
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.main_box .btn_one i{
  color: #333;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}

.navbar {
  width: 100%;
  height: 75px;
  position: absolute;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
  cursor: pointer;
}

.logo {
  color: #ff7200;
  font-size: 40px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.main .menu1{
  margin-top: 5px
}
.menu1 {
  float: left;
  width: 400px;
  height: 70px;
  margin-left: 710px
}

.tags {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 16px;
}

.tags li a {
  text-decoration: none;
  font-family: Arial;
  color: #333;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.tags li a:hover {
  color: #ff7200;
}
.photo {
  width: 400px;
  height: 400px;
  background: url(IMG_20211224_121001.jpg);
  background-size: cover;
  margin-left: 400px;
  margin-top: 110px;
  position: absolute;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.photo:hover {
  animation: role 1s ease-in-out infinite;
}

@keyframes role {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.photo .text {
  margin-left: 420px;
  position: absolute;
  width: 600px;
  color: #333;
  font-family: sans-serif;
}

.batch {
  margin-top: 480px;
  position: absolute;
  margin-left: 820px;
  width: auto;
  height: auto;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.7s linear;
}
.batch:hover{
  background-color: #ff7211;
  color: #fff;
}
.batch1 {
  transition: all 0.7s linear;
  margin-top: 480px;
  position: absolute;
  margin-left: 918px;
  width: auto;
  height: auto;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.batch1:hover{
  background-color: #ff7211;
  color: #fff;
}
.batch2 {
  margin-top: 480px;
  position: absolute;
  margin-left: 1000px;
  transition: all 0.7s linear;
  width: auto;
  height: auto;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.batch2:hover{
  background-color: #ff7211;
  color: #fff;
}
.batch3{
  margin-top: 480px;
  transition: all 0.7s linear;
  position: absolute;
  margin-left: 1070px;
  width: auto;
  height: auto;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.batch3:hover{
  background-color: #ff7211;
  color: #fff;
}
.intro {
  width: 650px;
  position: absolute;
  margin-top: 550px;
  margin-left: 400px;
}

.mail {
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 1400px;
  margin-top: 800px;
}

.mail a{
  text-decoration: none;
  color: #333;
  width: 100px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}
.mail a:hover{
  background-color: #444;
  color: #fff; 
}
.git {
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 400px;
  margin-top: 800px;
}

.git a{
  text-decoration: none;
  color: #333;
  width: 100px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}
.git a:hover{
  background-color: #444;
  color: #fff; 
}
.content{
  width: 350px;
  height: 350px;
  border: 2px solid #333;
  position: absolute;
  margin-top: 260px;
  margin-left: 400px;
  border-radius: 20px;
  cursor: pointer;
  background: url(content1.png);
  background-size: cover;
  background-position: center;
}
.content2{
  width: 350px;
  height: 350px;
  border: 2px solid #333;
  position: absolute;
  margin-top: 260px;
  margin-left: 800px;
  border-radius: 20px;
  cursor: pointer;
  background: url(content2.png);
  background-size: cover;
  background-position: center;
}
.content3{
  width: 350px;
  height: 350px;
  border: 2px solid #333;
  position: absolute;
  margin-top: 260px;
  margin-left: 1200px;
  border-radius: 20px;
  cursor: pointer;
  background: url(content3.png);
  background-size: cover;
  background-position: center;
}
.pjtext {
  margin-top: 100px;
  margin-left: 400px;
  position: absolute;
  width: 600px;
  color: #333;
  font-family: sans-serif;
}

.exp {
  width: 630px;
  margin-top: 100px;
  position: absolute;
  margin-left: 500px;
  font-weight: bold;
  font-family: serif;
}

.photo1{
  width: 200px;
  height: 200px;
  background: url(IMG_20211224_121001.jpg);
  background-size: cover;
  margin-left: 1500px;
  margin-top: 90px;
  position: absolute;
  border-radius: 30px;
  cursor: pointer;
}
.contact{
  position: absolute;
  margin-left: 870px;
  margin-top: 800px;
  font-size: 20px;
}

.contact a{
  text-decoration: none;
  color: #333;
  width: 100px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 10px;
}

.contact a:hover {
  background-color: #444;
  color: #fff;
}
